<style>
.image {
    display: inline-block;
}
</style>

<%if current_user%>
  <h2>OWNED IMAGES</h2>
  <%= link_to 'New Image', new_image_path %><br>
  <%if @owned_imgs.size > 0%>
    <%@owned_imgs.each do |image|%>
      <dir class='image'>
        <a href="/images/<%=image.id%>">
          <img src='/images/<%=image.filename%>' style='width:100px;>'>
        </a>
      </dir>
    <%end%>
  <%else%>
    <p>You have not uploaded any images</p>
  <%end%>
  <hr>

  <h2>PRIVATE IMAGES</h2>
  <%if @private_imgs.size > 0%>
    <%@private_imgs.each do |image|%>
      <dir class='image'>
        <a href="/images/<%=image.id%>">
          <img src='/images/<%=image.filename%>' style='width:100px;>'>
        </a>
        <br>
        <%=image.user.name%>
      </dir>
    <%end%>
  <%else%>
    <p>Nobody has shared any images with you... I'm sorry... :(</p>
  <%end%>
  <hr>
<%end%> <!-- if current_user -->

<h2>PUBLIC IMAGES</h2>
<%@public_imgs.each do |image|%>
  <dir class='image'>
    <a href="/images/<%=image.id%>">
      <img src='/images/<%=image.filename%>' style='width:100px;>'>
    </a>
    <br>
    <%=image.user.name%>
  </dir>
<%end%>
