<style>
.image {
    display: inline-block;
}
</style>

<%if current_user%>
  <h2>OWNED IMAGES</h2>
  <%@owned_imgs.each do |image|%>
    <dir class='image'>
    <img src='/images/<%=image.filename%>' style='width:100px;>'>
    </dir>
  <%end%>
  <hr>
  <h2>PRIVATE IMAGES</h2>
  <%@private_imgs.each do |image|%>
    <dir class='image'>
    <img src='/images/<%=image.filename%>' style='width:100px;>'><br><%=image.user.name%>
    </dir>
  <%end%>
  <hr>
<%end%>
<h2>PUBLIC IMAGES</h2>
<%@public_imgs.each do |image|%>
  <dir class='image'>
  <img src='/images/<%=image.filename%>' style='width:100px;>'><br><%=image.user.name%>
  </dir>
<%end%>
