<style>
.image {
    display: inline-block;
}
</style>

<%if current_user%>
  <h2>OWNED IMAGES</h2>
  <%= link_to 'New Image', new_image_path %><br>
  <%if @owned_imgs.size > 0%>
    <%@owned_imgs.each do |image|%>
      <div class='image'>
        <%= link_to (image_tag (root_url + "/images/" + image.filename), size: "100x100", alt: image.filename), image %>
      </div>
    <%end%>
  <%else%>
    <p>You have not uploaded any images</p>
  <%end%>
  <hr>

  <h2>PRIVATE IMAGES</h2>
  <%if @private_imgs.size > 0%>
    <%@private_imgs.each do |image|%>
      <div class='image'>
        <%= link_to (image_tag (root_url + "/images/" + image.filename), size: "100x100", alt: image.filename), image %>
        <br>
        <%=image.user.name%>
      </div>
    <%end%>
  <%else%>
    <p>Nobody has shared any images with you... I'm sorry... :(</p>
  <%end%>
  <hr>
<%end%> <!-- if current_user -->

<h2>PUBLIC IMAGES</h2>
<%@public_imgs.each do |image|%>
  <div class='image'>
        <%= link_to (image_tag (root_url + "/images/" + image.filename), size: "100x100", alt: image.filename), image %>
    <br>
    <%=image.user.name%>
  </div>
<%end%>
