<h2><%=@image.name%>
  <% if current_user == @image.user %>
    <%=", its "%>
    <% if @image.private%>
      <%="private"%>
    <%else%>
      <%="public"%>
    <%end%>
  <%else%>
    <%= ", owned by " + @image.user.name %>
  <%end%>
</h2>
<img src='/images/<%=@image.filename%>'>

<% if current_user == @image.user %>
  <%= form_for(@image) do |f| %>
    <% if @image.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
        <ul>
        <% @image.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :name %> 
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :public %>
      <%= f.radio_button(:private, "false") %>
    </div>
    <div class="field">
      <%= f.label :private %>
      <%= f.radio_button(:private, "true") %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <%end%>
<%end%>

<h3>Tags</h3>
<% @image.tags.each do |tag| %>
  <% if !tag.new_record? %>
    <div>
      <%= tag.str %>
      <% if current_user == @image.user %>
        <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
    </div>
  <%end%>
<%end%>
<br>
<% if current_user == @image.user %>
  <%= render 'tags/form' %>
<%end%>

<% if current_user == @image.user %>
  <% if @image.private %>
    <h3>Permissions</h3>
    <!-- this is eww, but it works -->
    <% @image.image_users.each do |iu| %>
      <% @users.each do |usr| %>
        <% if iu.user_id == usr.id %>
          <div>
            <%= usr.name %>
            <%= link_to 'Destroy', iu, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <%end%>
      <%end%>
    <%end%>
    <!-- this is eww, but it works -->
    <br>
    <%= render 'image_users/form' %>
  <%end%>
<%end%>
