<h2><%=@image.name%>
  <% if current_user == @image.user %>
    <%=", its "%>
    <% if @image.private%>
      <%="private"%>
    <%else%>
      <%="public"%>
    <%end%>
  <%end%>
</h2>
<img src='/images/<%=@image.filename%>'>

<% if current_user == @image.user %>
  <%= render 'form' %>
<%end%>

<h3>Tags</h3>
<% @image.tags.each do |tag| %>
  <% if !tag.new_record? %>
    <div>
    <%= tag.str %>
    <% if current_user == @image.user %>
      <%= link_to 'Destroy', tag, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
    </div>
  <%end%>
<%end%>
<br>
<% if current_user == @image.user %>
  <%= render 'tags/form' %>
<%end%>
